
{% extends "base.html" %}
{% load static %} 
{% block content %}
<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-lg">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">プロフィール編集</h2>
  <form method="post" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}
    
    <div>
      <label for="name" class="block text-sm font-medium text-gray-700">名前</label>
      <input type="text" name="name" id="name" value="{{ form.name.value }}" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      {% if form.name.errors %}
        <p class="text-red-500 text-sm">{{ form.name.errors }}</p>
      {% endif %}
    </div>

    <div>
      <label for="image" class="block text-sm font-medium text-gray-700">プロフィール画像</label>
      <div class="flex justify-center">
        {% if image_url %}
        <img src="{{ image_url }}" alt="{{ user.name }}のプロフィール画像" class="rounded-full w-24 h-24">
        {% else %}
          <img  src="/static/images/profile.png" alt="デフォルト画像" class="rounded-full w-24 h-24">
        {% endif %}
     </div>
      <input type="file" name="image" id="image" class="mt-1 block w-full text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100">
      {% if form.image.errors %}
        <p class="text-red-500 text-sm">{{ form.image.errors }}</p>
      {% endif %}
    
    </div>

    <div>
      <label for="introduction" class="block text-sm font-medium text-gray-700">自己紹介</label>
      <textarea name="introduction" id="introduction" rows="4" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">{{ form.introduction.value }}</textarea>
      {% if form.introduction.errors %}
        <p class="text-red-500 text-sm">{{ form.introduction.errors }}</p>
      {% endif %}
    </div>

    <div>
      <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">保存</button>
    </div>
  </form>
  <a href="{% url 'mypage' %}" class="mt-6 text-indigo-600 hover:text-indigo-900 block">マイページに戻る</a>
</div>
{% endblock %}
