{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>

<div class="md:flex itmes-center  w-full p-2 md:w-1/2 m-auto justify-between ">
    <div>
        <div class="flex itmes-center">
            <img class="w-12 h-12"
                src="{% if user.image %}{{ user.image.url }}{% else %}/static/images/profile.png{% endif %}" alt="">
            <p class="text-center font-bold text-3xl mx-2">{{user.name}}</p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'edit_mypage' %}"
            class="bg-blue-400 rounded-md px-3 py-2 text-base border border-gray-300 text-white ">編集</a>
    </div>

</div>
<div>

</div>
<hr>
<div class="md:w-2/3 w-full md:mx-auto mx-2 p-3">
    {% if user.introduction%}
    { {user.introduction}}

    {% else %}
    {% endif %}
    <h1>ここに今までに投稿した小説を表示する</h1>
</div>





{% endblock %}