{% extends 'base.html' %} 
{% block title %}夢ものがたり {% endblock %}

{% block mata %}
  <meta name="description" content="
  ツギヨムは、読書を通じて新しい友達を見つけ、おすすめの本について話し合い、読んだ本を記録できるコミュニティサイトです。投票機能で人気の本を決め、共通の趣味を持つ人々と繋がることができます。 
  ">
  <meta content="
  ツギヨムは、読書を通じて新しい友達を見つけ、おすすめの本について話し合い、読んだ本を記録できるコミュニティサイトです。投票機能で人気の本を決め、共通の趣味を持つ人々と繋がることができます。">
  <meta name="keywords" content="ツギヨム tsugiyomu 次に読む ツギヨムとは">
{% endblock %}
{% load static %} 

{% block content %}

<br>
<div class="w-1/2 m-auto py-20 text-center"">
    <p class=""">ページが見つかりませんでした</p>
    <p>お探しのページはURLが間違っているか、削除された可能性があります。</p>
    <br>
    <a class="border-gray-400 border rounded-full px-4 py-2 bg-white hover:bg-gray-50"href="/">ホームに戻る</a>
</div>


{% endblock %}